@model IEnumerable<FishMarket.WebUI.Models.FishDefinition.FishDefinitionViewModel>

@{
    ViewData["Title"] = "Fish Market Admin Page";
}

<h2>Fish Market Admin Page</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureFileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureFileLength)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureFileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureFileLength)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Upload Picture", "UploadPicture", new { id = item.Id }) |
                @Html.ActionLink("Update Price", "UpdatePrice", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
